#============ Bu kod ne yapar=============#
# Loopback interface (varsa).
# P2P interface’ler (spine ↔ leaf)
# Description standardı
# Tek sorumluluk: interface
#=========================================#


# Bu yapı şuanlık tim SR Linux node'lara uygulanabilir spine/leaf ayrımı yok
---
- name: Interfaces | L2/L3 interface konfigürasyonu
  hosts: nokia_srlinux
  gather_facts: false

  vars_files:
    - ../data/interfaces.yml

  tasks:
    - name: Loopback interface konfigürasyonu
      when:
        - interfaces[inventory_hostname].loopback is defined
      nokia.srlinux.config:
        replace:
          - path: /interface[name={{ interfaces[inventory_hostname].loopback.name }}]
            value:
              admin-state: enable
          - path: /interface[name={{ interfaces[inventory_hostname].loopback.name }}]/subinterface[index=0]/ipv4/address[ip-prefix={{ interfaces[inventory_hostname].loopback.ipv4 }}]
            value: {}
        origin: srl_nokia

    - name: P2P interface konfigürasyonu
      when:
        - interfaces[inventory_hostname].p2p is defined
      loop: "{{ interfaces[inventory_hostname].p2p }}"
      loop_control:
        label: "{{ item.if_name }}"
      nokia.srlinux.config:
        replace:
          - path: /interface[name={{ item.if_name }}]
            value:
              admin-state: enable
              description: "{{ item.description }}"
          - path: /interface[name={{ item.if_name }}]/subinterface[index=0]/ipv4/address[ip-prefix={{ item.ipv4 }}]
            value: {}
        origin: srl_nokia