#============ Bu kod ne yapar=============#
# IS-IS Underlay kısmını oluşturur
# Loopback’leri router-id olarak kullanmak
# P2P interface’lerde ISIS çalıştırmak
# Spine–Leaf farkı olmadan underlay ayağa kalksın

# Yapmamız ve kontrol etmemiz gerek 3 şey
# 1) ISIS instance oluştur
# 2) Loopback’i passive yap
# 3) P2P interface’leri enable et
#=========================================#


---
- name: Routing | ISIS underlay
  hosts: nokia_srlinux
  gather_facts: false

  vars_files:
    - ../data/interfaces.yml
    - ../data/routing.yml

  tasks:
    - name: ISIS instance olustur
      nokia.srlinux.config:
        replace:
          - path: /network-instance[name=default]/protocols/isis/instance[name={{ routing.isis.instance }}]
            value:
              admin-state: enable
              level-capability: "{{ routing.isis.level }}"
        origin: srl_nokia

    - name: Loopback ISIS passive
      when:
        - interfaces[inventory_hostname].loopback is defined
      nokia.srlinux.config:
        replace:
          - path: /network-instance[name=default]/protocols/isis/instance[name={{ routing.isis.instance }}]/interface[name={{ interfaces[inventory_hostname].loopback.name }}]
            value:
              passive: true
        origin: srl_nokia

    - name: P2P interface’leri ISIS’e ekle
      when:
        - interfaces[inventory_hostname].p2p is defined
      loop: "{{ interfaces[inventory_hostname].p2p }}"
      loop_control:
        label: "{{ item.if_name }}"
      nokia.srlinux.config:
        replace:
          - path: /network-instance[name=default]/protocols/isis/instance[name={{ routing.isis.instance }}]/interface[name={{ item.if_name }}]
            value:
              admin-state: enable
        origin: srl_nokia


