---
- name: Bootstrap linux nodes (python + basic tools)
  hosts: webservers
  become: true
  gather_facts: false

  tasks:
    - name: Skip non-linux nodes
      raw: echo "Linux node detected"
      when: ansible_network_os is not defined

    - name: Bootstrap Alpine nodes
      raw: apk add --update python3
      when: 
        - ansible_network_os is not defined
        - ansible_facts['os_family'] | default('') == 'Alpine' or (raw_os_check.stdout | default('') is search('Alpine'))
      register: alpine_bootstrap
      ignore_errors: true

    - name: Check OS Distribution (Raw)
      raw: cat /etc/os-release
      register: raw_os_check
      when: ansible_network_os is not defined
      changed_when: false

    - name: Bootstrap Ubuntu/Debian nodes
      raw: |
        export DEBIAN_FRONTEND=noninteractive
        mkdir -p /etc/needrestart/conf.d/
        echo '$nrconf{restart} = "a";' > /etc/needrestart/conf.d/ansible.conf
        apt-get update -y
        apt-get install -y python3 python3-apt iproute2 iputils-ping curl wget net-tools
      when: 
        - ansible_network_os is not defined
        - (raw_os_check.stdout is search('Ubuntu') or raw_os_check.stdout is search('Debian'))


- name: Configure nginx on linux web nodes
  hosts: webservers
  become: true

  roles:
    - nginx
