---
- name: Nginx paketini yükle
  package:
    name: nginx
    state: present

- name: Web root dizinini oluştur
  file:
    path: /usr/share/nginx/html
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Nginx konfigürasyon dizinini belirle (Alpine vs Ubuntu)
  set_fact:
    nginx_conf_dest: "{{ (ansible_os_family == 'Alpine') | ternary('/etc/nginx/http.d/default.conf', '/etc/nginx/conf.d/default.conf') }}"

- name: Varsayılan site konfigürasyonunu kopyala
  copy:
    src: nginx.conf
    dest: "{{ nginx_conf_dest }}"

- name: index.html şablonunu yükle
  template:
    src: index.html.j2
    dest: /usr/share/nginx/html/index.html

- name: Nginx servisini başlat ve etkinleştir
  service:
    name: nginx
    state: started
    enabled: yes
  ignore_errors: yes # Bazı container ortamlarında init sistemi olmadığı için
